<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/']" class="brand-link">
        <img src="assets/favicon.png" alt="Events Hub" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Events Hub</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link"
                    [class.active]="isActive('/')">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>

                </li>
                <li class="nav-item">
                    <a [routerLink]="['/events']" class="nav-link" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Events
                            <span class="right badge badge-warning">5</span>
                        </p>
                    </a>
                </li>                
                <li class="nav-item">
                    <a [routerLink]="['/tickets']" class="nav-link" [routerLinkActive]="['active']" [class.active]="selected=='tickets'">
                        <i class="nav-icon fas fa-qrcode"></i>
                        <p>
                            Tickets
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/discounts']" class="nav-link" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-percent"></i>
                        <p>
                            Discounts
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/locations']" class="nav-link" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-location-arrow"></i>
                        <p>
                            Locations
                            <span class="badge badge-info right">10</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/certificates']" class="nav-link" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-certificate"></i>
                        <p>
                            Certificates
                            <span class="badge badge-danger right">Coming Soon</span>
                        </p>
                    </a>
                </li>
                <li class="nav-header">Analytics</li>
                <li class="nav-item">
                    <a [routerLink]="['/analytics']" class="nav-link" [class.active]="isActive('/analytics')">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Performance
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/analytics/tickets']" class="nav-link" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Transactions
                        </p>
                    </a>
                </li>
                <li class="nav-header">Administration</li>
                <li class="nav-item">
                    <a [routerLink]="['/payouts']" class="nav-link" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-dollar-sign"></i>
                        <p>
                            Payouts
                            <span class="badge badge-warning right">$ 12.50</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/users']" class="nav-link" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Users
                            <span class="badge badge-info right">69</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/settings']" class="nav-link" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Settings
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>