.container{
    margin-top: 30px;
}

.side--image{
    grid-column: span 1;
}
.wave{
    height:100%;
    width:100%;
    background-image: url("/assets/img/waves/2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:bottom left;
}
.wave--img{
    position: absolute;
    width:30vw;
    height: calc(80vh - 80px);
    background-image:url("/assets/img/Asset-6.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    left: 5vw;
    bottom:5vh;
    filter: hue-rotate(10deg);
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 200px;
}

h2{
    margin: 15px 0;
    color: #333;
    // text-transform: uppercase;
    font-size: 2.0rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5 {
    margin: 5px 0;
    color: #333;
    // text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
