*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
	overflow: none;
	display: flex;
	justify-content: center;
}

.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	filter:brightness(120%) ;
	height: calc(100% - 80px);
	width:50vw;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 90vh;
    display: grid;
	grid-template-columns: 1fr 15rem 1fr;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	grid-column: 1/span 1;
	
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	grid-column: 3/span 1;
}

.img img{
	width: 300px;
	filter: hue-rotate(10deg);
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.5rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #e74c3c;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #e74c3c;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

.link-box{
	display: block;
	padding-bottom: 20px;
}

a{
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

.a-right{
	text-align: right;
	float: right;
}

.a-left{
	text-align: left;
	float: left;
}

a:hover{
	color: #e74c3c;
}

.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #db2c19, #e74c3c, #e02c18);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 350px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
		grid-column: span 1;
	}
}

.modal--container{
	position: fixed;
	height: max-content;
	width:200px;
	padding:50px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	background-color: whitesmoke;
	box-shadow: 0 0 15px rgb(187, 187, 187);
	text-align: center;
}
.modal--exit{
	position: absolute;
	top:-15px;
	left:-15px;
	height:40px;
	width:40px;
	border-radius: 50%;
	border: 1px solid rgb(167, 167, 167);
	box-shadow: -2px -2px 10px #b4b4b4, 2px 2px 10px #00000000;
	color:rgb(70, 70, 70);
	outline: 0;
}
.modal--exit:hover{
	background-color: white;
	color:black;
	box-shadow: 0 0 10px rgb(170, 170, 170);
}
.modal--exit i:nth-child(1){
	font-size: 25px;
	transform: translateX(1.9px);
}
.modal--exit i:nth-child(2){
	font-size: 25px;
	transform: translateX(-1.9px);
}
.modal--image-container{
	height:200px;
	width:200px;
	background-image: url("/assets/img/Asset-1.svg");
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-position: center center;
	// z-index: 250;
	// display: block;
	filter:hue-rotate(10deg);
}
.modal--final-button{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #ff0000, #d33838, hsl(0, 89%, 32%));
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	text-transform: uppercase;
	margin-top:1rem;
	cursor: pointer;
	transition: .5s;
}
.modal--final-button:hover{
	background-position: right;
}
@media screen and (max-width:350px){
	.modal--container{
		width:100px;
		padding:25px;
	}
	.modal--image-container{
		width:100px;
		height:100px;
	}
	.modal--contents h2{
		font-size: 0.8rem;
	}
	.modal--contents p{
		font-size: 0.6rem;
	}
	.modal--final-button{
		height:25px;
		font-size: 0.8rem;
	}
}