<mat-nav-list>
  <div class="profile-card">
      <img src="./assets/img/theme/team-1-800x800.jpg" alt="User Image">
      <div class="header">
          <h2>Dipan Roy</h2>
          <h4>dipanroy12@gmail.com</h4>
      </div>
  </div>

  <mat-divider></mat-divider>
  
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/stats">Stats</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">Settings</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/control">
      <mat-icon>gamepad</mat-icon>&nbsp;Control
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
      <mat-icon>headset_mic</mat-icon>&nbsp;Support
  </a>

</mat-nav-list>