<footer class="text-center" style="position: fixed; z-index: 100; left: 0; bottom: 0; width:100%; background-color: rgba(20,20,20,0.2)">
    <div class="row" style="padding-top: 10px; padding-bottom: 10px">
        <div class="col-lg-6" style="float:left">
        <span span="font-size: 1.2rem"><strong>Copyrights &copy; 2020 Events-Hub | All Rights Reserved</strong></span> 
        </div>
        <!-- Make Separate No Mobile Footer -->
        <div class="col-lg-6" style="float:right">
        <span>Powered by <strong><a href="https://mindwebs.org" target="_blank">MinD Webs</a> Systems</strong></span>
        </div>
    </div>
</footer>