.main {
    margin-bottom: 60px;
}

h2 {
    font-size: 2rem;
    // text-transform: uppercase;
}


h3 {
    font-size: 3rem;
}
h5 {
    font-size: 1.2rem;
}

.card-box {
    // margin: 5px;
    margin-bottom: 15px;
}
.card p {
    font-size: 0.7rem;
    text-align: justify;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(190, 190, 190);
    transition: all 0.2s ease-in-out;
}

.carousel--main{
    // width:100vw;
    height: fit-content;
    overflow: hidden;
    margin-top: 3px;
}
.carousel--container{
    display:grid;
    grid-template-columns: repeat(7,75vw);
    transform: translateX(-62.8vw);
    grid-gap: 0.3vw;
    grid-row:50vh;
    transition: all 300ms ease-in-out;
}
.image{
    height:50vh;
    width:75vw;
    border-radius: 20px;
    grid-column: span 1;
    background-color: red;
}
.one{
    // background-color: rgb(255, 145, 0);
    background-image: url("/assets/img/carousel/bg0.jpg");
    background-size: cover;
    background-position: center center ;
}
.three{
    // background-color: rgb(0, 255, 89);
    background-image: url("/assets/img/carousel/bg1.jpg");
    background-size: cover;
    background-position: center center ;
}
.two{
    // background-color: rgb(153, 0, 255);
    background-image: url("/assets/img/carousel/bg2.jpg");
    background-size: cover;
    background-position: center center ;
}
.four{
    // background-color: rgb(255, 0, 157);
    background-image: url("/assets/img/carousel/bg3.jpg");
    background-size: cover;
    background-position: center center ;
}
.five{
    // background-color: rgb(255, 0, 0);
    background-image: url("/assets/img/carousel/bg5.jpg");
    background-size: cover;
    background-position: center center ;
}
.buttons{
    position: absolute;
    display: inline-flex;
    z-index: 1;
    top:50vh;
    left:50vw;
    transform: translateX(-50%);
}
.btn1{
    height:15px;
    width:15px;
    background-color: gray;
    border-radius: 50%;
    margin: 5px 5px; 
}
.btn1:nth-child(1){
    background-color: white;
}
@media screen and (max-width: 600),(orientation: portrait){
    .image{
        height:30vh;
    }
    .buttons{
        top:25vh;
    }
}